<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="wrapper">
        <div class="login">
            <h1>登录</h1>
            <form action="" method="GET" class="sign-form">
                <label for="username" class="sign-label">用户名</label>
                <input type="text" class="sign-input" id="username" name="username" placeholder="请输入用户名">
                <label for="password" class="sign-label">密码</label>
                <input type="password" class="sign-input" id="password" name="password" placeholder="请输入密码">
                <input type="submit" value="登录" class="sign-btn">
            </form>
        </div>
    </div>
</body>
</html>