* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: "Microsoft YaHei", sans-serif;
    font-size: 14px;
    line-height: 2;
    color: #000;
    background: #fff;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #555;
}

input, textarea {
    font-family: "Microsoft YaHei", sans-serif;
    outline:none;
    box-shadow:none;
}

table {
    border-collapse: collapse;
}

td {
    height: 35px;
    padding: 0 10px;
    border:1px solid #e3e3e3;
    font-size: 16px;
    text-align: center;
}

thead td {
    height: 35px;
    background: #f1f1f1;
}

form {
    font-size: 16px;
    font-weight: bold;
}

.msgInput {
    width: 350px;
    height: 24px;
    margin: 5px 0 20px;
    padding: 5px 15px;
    border: 1px solid #555;
    line-height: 24px;
    font-size: 14px;
}